name: Release package
on:
  workflow_dispatch:
    inputs:
      release-type:
        type: choice
        description: "Release type (one of): major, minor, patch."
        required: true
        options:
          - major
          - minor
          - patch
  workflow_call:
    inputs:
      release-type:
        type: string
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Checkout project repository
      - name: Checkout
        uses: actions/checkout@v4

      # Print
      - name: Print
        run: |
          echo this is working ${{ inputs.release-type }}
